- var title = "Database"
doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(style="background-image: url('/images/Website.png'); background-size: 100% 100%; background-attachment: fixed;")
		block content
		footer
			.end
				a(href='//github.com/grimreaperling/database-project') A simple database project for the curriculum design.
		script(src='/javascripts/snowflakes.min.js')
		script.
			new Snowflakes()


