- var title = "Database"
doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		img(src="https://www.grimreaperling.monster/Photos/Anime%20photos/莉西亚.jpg" height='250' width='250')
		button
		.end
			a(href='//github.com/grimreaperling/database-project') this is a #[em simple] website.
